.root input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.root input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.root input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

.root :global(.caesar-slider)::-webkit-slider-thumb,
.root :global(.caesar-slider)::-moz-range-thumb {
  border: 1px solid #ffff00;
  background-color: #ffff00;
}

.root :global(.base64-slider)::-webkit-slider-thumb,
.root :global(.base64-slider)::-moz-range-thumb {
  border: 1px solid #ff9900;
  background-color: #ff9900;
}
